<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="static/styles.css" rel="stylesheet"/>
        <script async src="static/socket.io.js"></script>
        <script async src="static/index.js"></script>
        <title>SocketIO Chat</title>

    </head>

    <body>

        <main>
          <section id="left-column">
            <div id="header">
              <div id="banner">SocketIO Chat</div>
              <div id="header-bar">
                Entered as <span id="bar-name">Guest</span><a id="exit" href="#" hidden>(exit)</a>
              </div>
            </div>
            <form id="register" hidden>
              <label for="display-name">Name: </label>
                <input type="text" id="display-name" minlength="3"
                  placeholder="Enter your display name" name="name"/>
              <button>Register</button>
            </form>
            <form id="create-room">
              <label for="room-name">Create room: </label>
                <input type="text" id="room-name" minlength="1"
                  placeholder="Enter new room name" name="name"/>
              <button>Create new room</button>
            </form>
            <div id="rooms-list">
              <span>Rooms:</span>
              <ul></ul>
            </div>
          </section>
          <section id="middle-column">
            <div id="error" class="alert" hidden>
              <span id="error-text">Errors come here</span>
              <button id="error-button">Dismiss</button>
            </div>
            <div id="confirmation" class="caution" hidden>
              <span>Exit and delete your username?</span><button id="confirm-no">No</button><button id="confirm-yes">Yes</button>
            </div>
            <div id="disconnection" class="caution" hidden>
              <span>Experiencing connection issues...</span>
              <button id="discon-button">Dismiss</button>
            </div>
            <div id="messages"></div>
            <div id="message-notice" class="caution" hidden>New messages!</div>
            <form id="send-message">
              <input type="text" id="message-text" minlength="1" autocomplete="off"
              placeholder="Type your message" name="name"/><button>
                &#10148;</button>
            </form>
          </section>
          <section id="right-column">
            <div id="users-list">
              <div id="current-room">main</div>
              <div><span id="users-count">0</span> user(s) online: </div>
              <ul></ul>
            </div>
          </section>
        </main>
    </body>
</html>
