<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <title>SocketIO Chat: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav>
            <span>SocketIO Chat</span>
            |
            <span>Entered as <span id="bar-name"></span></span>
            <div class="collapse navbar-collapse" id="navbar">
                <ul>
                  {% for channel in channels %}
                    <li>{{ channel }}</li>
                  {% endfor %}
                </ul>
            </div>
        </nav>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>
