{% extends "layout.html" %}

{% block title %}
    {{book.title}} - {{book.author}}
{% endblock %}

{% block main %}
    <div>
      {{book.title}} by {{book.author}}, {{book.year}}, ISBN {{book.isbn}}
    </div>
    <div>
    {% if book.rating is not none %}
      {{book.rating}} as rated by {{book.count}} users
    {% else %}
      Be the first to review this book!
    {% endif %}
    {% if not session.user_id %}
      <div>
        <a href={{ url_for("login") }}>Log in</a> or
        <a href={{ url_for("register") }}>Register</a> to rate and review this book.
      </div>
    {% else %}
      <form action="/review/{{book.isbn}}" method="post">
        <div class="form-group">
          <select name="rating" class="form-control mb-2">
            <option value="" selected>Rate this book</option>
            {% for i in range(1, 6) %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="review_text" placeholder="Your review..." type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    {% endif %}
    </div>
    {% if reviews is not none %}
    <ul>
      {% for review in reviews %}
      <li>
        <span>
          {{ review.rating }}
        </span>
        <div>
          {{ review.review }}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
