{% extends "layout.html" %}

{% block title %}
    Search Books
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="query" placeholder="ISBN, title or author" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    {% if rows is not undefined %}
      <ul>
        {% for row in rows %}
          <li>
            <a href="books/{{row.isbn}}">{{row.title}}</a>
            by {{row.author}}, {{row.year}}, ISBN {{row.isbn}}</li>
        {% else %}
          <li>No results :(</li>
        {% endfor %}
      </ul>
    {% endif %}
{% endblock %}
