body {
  height: 95vh;
  color: #022C57;
  background: #007DA6;
}
main {
  height: inherit;
  display: flex;
}

#banner, #current-room {
  font-size: 2rem;
}
#header-bar {
}
#bar-name {
  font-weight: 600;
}

section > * {
  background: #E4E1CF;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 8px 1px #012D57;
}

section {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

#left-column {
  flex: 1;
}
#rooms-list {
}
.active {
  font-weight: bold;
}
#rooms-list a {
  text-decoration: none;
  color: #007DA6;
}
#rooms-list a:visited {
  color: #007DA6;
}
#rooms-list a:hover {
  color: #E4E1CF;
  background: #012D57;
}
#middle-column {
  flex: 4 80%;
}
.alert {
  font-weight: bold;
}
#error {
  background: #FD2B2E;
  color: #E4E1CF;
}
.caution {
  background: #FFAE31;
}
#confirm-no, #confirm-yes {
  margin-left: 20%;
}
#error-button, #discon-button {
    float: right;
    border: 0;
    border-radius: 10px;
    margin: -5px 0 -10px 0;
    height: 30px;
    font-size: 1rem;
    width: 10%;
}
#error-button {
  background: #7E0103;
  color: #E4E1CF;
}
#discon-button {
  background: #E4E1CF;
}
#messages {
  flex: 1;
  overflow: auto;
  word-break: break-all;
}
#messages div:last-child {
  margin-bottom: 10px;
}
.failed {
  border-left: 3px solid #FD2B2E;
  padding-left: 5px;
}
.failed::before {
    content: "✗";
    font-weight: bold;
    color: #FD2B2E;
    padding-right: 5px;
}
.notify {
  border-left: 3px solid #007DA6;
  padding-left: 5px;
}
#message-notice {
  padding: 0;
  border-radius: 0 0 0 20px;
  line-height: 20px;
  text-align: center;
  margin-top: -50px;
}

}
#send-message {
}
#send-message > * {
  height: 4rem;
}
#send-message button {
  border: none;
  width: 5%;
  color: #022C57;
  background: #007DA6;
}
#message-text {
  width: 90%;
  border: none;
  border-left: 4px solid #007DA6;
}

#right-column {
  flex: 1 20%;
}
